@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.2.0');
  src:  url('fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),
  		url('fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'),
  		url('fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'),
  		url('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body { 
	color: #444444;
	background-color: rgba(243,243,243,1);

/*	background-color: rgba(223,223,245,1);*/
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

/*	color: rgba(80,80,80,1);*/
	height: 100%;
	margin: 0px auto;
	min-width: 100px;
	width: 90%;
}
input,select{
  color: rgba(80,80,80,1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px solid #ccc;
  font-size:1.5em;
  width:80%;
  min-height:30px;
  display:block;
  margin: 0px auto;
  margin-bottom:15px;
  margin-top:5px;
  max-width: 80%;
  outline: none;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}

input[type=submit] {
  background:rgba(230,230,245,1);
  border-color: #88a;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  margin: 0px auto;
  max-width: 80%;
  padding:10px;
}
input[type=checkbox]{
	display: inline-block;
	height:20px;
	margin-left: 10px;
	vertical-align: middle;
	width: 20px;
  }
input[type=file] {
  height:20px;
  padding-top: 15px;
  }
label{
  color: rgba(80,80,180,1);
  display:block;
  font-size:1.4em;
  margin: 0px auto;
  margin-bottom:15px;
  margin-top:5px;
  max-width:80%;
  min-height:20px;
  outline: none;
  text-align: left;
}
textarea{
  color: rgba(80,80,80,1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px solid #ccc;
  font-size:1.5em;
  width:80%;
  min-height:30px;
  display:block;
  margin: 0px auto;
  margin-bottom:15px;
  margin-top:5px;
  max-width: 80%;
  outline: none;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}
#header{
	height: 200px;
	width: 100%;
	background:  url("images/ferbere.jpg") top left no-repeat;
	text-align: center;
	margin: 0px auto ;

}
#pleca_header{
	border-bottom: 1px solid rgba(113,80,132,1);
	position: relative;
	top: 100px;
	height: 40px;
	width: 100%;
}
#titulo{
	font-size: 2em;
}
#titulo a{
  color: rgba(40,40,140,1);
	text-decoration: none;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
#titulo a:hover{
	color: rgba(120,120,220,1);
}

#subtitulo{
font-size: 0.7em;	
}
#footer{
/*	box-shadow:1px 2px 3px 0px rgba(0,0,0,1);*/
	border-top: 1px solid;
	margin:0px auto;
	text-align:center;
	width:90%;
}
#footer-2{
	font-size: 0.6em;
}

#pleca_footer{
	height: 40px;
}
.linea_sup{
	background:#000;
	width: 0.1px;
}
.changelog{
  background:rgba(230,230,245,1);
  border-color: #88a;
  border-radius: 10px;
  display: table;
  height: 50px;
  padding-top: 10%;
  text-align: center;
  vertical-align: center;
  width: 100%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  box-shadow: 0 0 5px rgba(0, 0, 255, .5);
}
hr.line{
	height: 1px;
	border: 0;
	color: #cc0000;
	background-color: #666666;
}
.h2{
	font-size: 180%;
	color: #2B5893;
	text-align: center;
	vertical-align: top;
	font-weight: bold;
}
#main{
	margin: 0px auto;
	text-align: justify;
	width: 100%;
}
#maincontent{
	padding: 40px;
	min-height: 50%;
	margin: 0px auto;
	text-align: center;
}
#maincontent-tit{
	font-size: 3em;
	color: transparent;
	-webkit-text-stroke: 1px rgba(155,65,65,1);
	text-align: center;
}
#maincontent-body{
	width: 100%;
	margin: 0px auto;
	border: 0px solid;
}
#maincontent-text{
	text-align: justify;
	margin:50px auto;
}
#botones_aux{
	position:relative;
		right:-18%;
	text-align:right;
	padding-top:10px;
	width: 80%;
}
#botones_aux-int{
	width:100%;
}
#botones_aux-int0,#botones_aux-int1,#botones_aux-int2{
	display:inline-block;
	height: 40px;
	margin-left: 20px;
	vertical-align:top;
}

#btn_source{
    font-family: 'FontAwesome';
	margin-right: 1em;
    text-decoration: none;
}
#btn_source a{

}
#btn_source a:hover{

}
#listabase{
	border:5px solid;
	width: 650px;
	height: 40px;
	margin: 0px auto;
}
#lista{
	border:5px solid;
	position: relative;
	float: left;
	width: 250px;
	border-bottom:1px dotted;
}
#listaa{
	position: relative;
	float: left;
	width: 20px;
	border-bottom:1px dotted;
}
#listab{
	position: relative;
	float: left;
	width: 120px;
	border-bottom:1px dotted;
}
#mensajes-titulo{
	margin:0px auto;
	text-align:center;
}
#mensajes-titulo p{
	font-size:150%;
	font-weight:bold;
}
#mensajes-titulo span{
	font-size:150%;
}
#mensajes-contenido{
	background:#FAFAFA;
	border-radius: 10px;  
	-moz-border-radius: 10px;  
	min-height:150px;
	margin:30px auto 20px auto;
	padding-left:20px;
	padding-right:20px;
	width:80%;
}
#mensajes-contenido p{
	font-size:150%;
	font-weight:bold;
	text-align:center;
}
#mensajes-contenido span{
	text-align:left;
}
a{

	color: rgba(155,65,65,1);
/*	color: rgba(120,120,220,1);*/
	border-bottom:0px;

	text-decoration: none;
	-webkit-transition: all 500s ease-in-out;
	-moz-transition: all 500s ease-in-out;
	-o-transition: all 500s ease-in-out;
	-ms-transition: all 500s ease-in-out;
	transition: all 500ms ease-in-out;
}
:hover{
/*	color: rgba(123,123,145,1);*/
	color: rgba(120,120,220,1)


}
.not,.not2{
  display: inline-block;
  vertical-align: middle;
}
.not{
  font-size: 1em;
  width: 30px;
}
.not2{
  width: 20%;
}
.radio{
  margin: 0px auto;
  width: 80%;
}
.rollover a{
  opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;    
    transition: opacity 0.5s ease-in-out;
}
.rollover :hover{
  opacity: 0.5;
}

h1{
  color: rgba(40,40,140,1);
  font-size: 2.5em;
  text-align: center;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.5);
}
#form-main{
	margin: 0px auto;
	width: 90%;
	border: 0px solid;
}
fieldset{
  background:rgba(50,50,50,0.1);
  border:1px dotted;
  border-radius:10px;
  margin:0px auto;
  margin-bottom:50px;
  width:80%;
}
form{
  margin: 20px auto;
  width:80%;
}
/* tabla reportes */

#tab,#tabb{
	display:inline-block;
	vertical-align:top;
}

#tab{
	width:50%;
}
#tab table{
	width:90%;
}
#tabb{
	width:50%;
}
#tabb table{
	border:2px dotted;
	border-radius:15px; 
	padding:2%;
	width:100%;
}
.shadow{
	box-shadow:0.5px 1px 3px 1px rgba(0,0,0,0.6);
}
/* termina table reportes */
/*** ALBA botonería { ***/
.alba{
	display: inline-block;
	margin: 0px 5px 5px 5px; 
	text-align: center;
	vertical-align: top;
	width: 200px;
}
.alba a{
    background: rgba(255,255,255,0.6);
    border: 5px solid rgba(255,255,255,0.6);
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	display: block;
    height: 170px;
    margin-bottom: 4px;
    text-decoration: none;
	width: 190px;
    -webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.alba :hover{
	background: rgba(155,65,65,1);
}
.alba a img{
	text-align: center;
	width:110px;
	 -webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.alba :hover img{
	width:70px;
}
.alba a span{
	background: rgba(155,65,65,0);
	color: rgba(20,20,20,1);
	font-size: 1em;
	font-variant: small-caps;
	font-weight: bolder;
	 -webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.alba :hover span{
	background: rgba(155,65,65,0);
	color: rgba(220,220,220,1);
	font-size: 1.5em;
}
/*** } ALBA botonería ***/
.link_s{
	margin:2% 0 auto;
}
.link_s a{
	color:rgba(174,189,72,1);
	text-decoration:none;
}
.link_s :hover{
/*	opacity:0.7;*/
}
.link_t{
	margin:2% 0 auto;
}
.link_t a{
	color:rgba(231,118,52,1);
	text-decoration:none;
}
.link_t :hover{
	opacity:0.7;
}
.link_u{
	margin:0px auto;
}
.link_u a{
	color:rgba(255,255,255,0.7);
	text-decoration:none;
}
.link_u :hover{
	opacity:0.7;
}
.rounded { 
	border-radius:15px; 
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
}
.rounded_min { 
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
}
.search { 
	color:rgba(231,118,52,1);
	font-size:1.5em;
	padding:6px 15px 6px 30px;
	margin:3px; 
	background:rgba(174,189,72,0.1);
	width:50%;
}	
.submit { 
	color:rgba(255,255,255,0.7);
	font-size:1.3em;
/*	padding:6px 15px 6px 30px;
	margin:3px; */
	background:rgba(231,118,52,0.6);
	width:20%;
}
/* buscadores {*/
#galeria{
  margin: 0px auto;
  text-align: center;
  width: 62%;
}
#galeria a{
  color: rgba(40,40,140,1);
  font-size: 1em;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#galeria a:hover{
  color: rgba(140,40,40,1);
  text-decoration: none;
}
#galeria table{
  margin: 0px auto;
  width:100%;
}
#galeria td{
  text-align: left;
  border-bottom: 1px dotted;
  line-height: 2em;
}
#gal-indice{
  margin: 0px auto;
  padding-top: 20px;
  text-align: center;
  width: 60%;
}
#gal-indice a{
  color: rgba(40,40,140,1);
  font-size: 1em;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#gal-indice a:hover{
  color: rgba(140,40,40,1);
  font-size: 1.3em;
  text-decoration: none;
}
.strong{
  font-size: 1.2em;
  font-weight: bolder;
}
/* } buscadores */