	@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.2.0');
  src:  url('fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),
  		url('fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'),
  		url('fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'),
  		url('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body { 
	color: #444444;
	background-color: rgba(223,223,245,1);

/*	background-color: rgba(223,223,245,1);*/
	font-family: "Helvetica";
	font-size: 20px;

/*	color: rgba(80,80,80,1);*/
	height: 100%;
	margin: 0px auto;
	min-width: 100px;
	width: 90%;
}
/*
input,textarea{

	border-radius: 10px;
	font-size: 20px;
	width: 500px;
}
input[type=submit]{
	background-color: rgba(200,65,65,1);
	border-radius: 10px;
	font-size: 0.9em;
	height: 1.5em;
	color: rgba(245,245,245,1);
	width: 100px;
}
input[type=submit]:hover{
	background-color: rgba(123,123,145,0.6);
	height: 1.6em;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
input[type=file]{
	background-color: transparent;
	border: 0px;
}
input[type=radio]{
	display: inline-block;
}
*/
#header{
	height: 200px;
	width: 100%;
	background:  url("images/logo.png") top left no-repeat;
	text-align: center;
	margin: 0px auto ;

}
#pleca_header{
	border-bottom: 1px solid rgba(113,80,132,1);
	position: relative;
	top: 100px;
	height: 40px;
	width: 100%;
}
#titulo{
	font-size: 2em;
}
#titulo a{
	color:rgba(113,80,132,1);
	text-decoration: none;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
#titulo a:hover{
	color: rgba(120,120,220,1);
}

#subtitulo{
font-size: 0.7em;	
}
#footer{
/*	box-shadow:1px 2px 3px 0px rgba(0,0,0,1);*/
	border-top: 1px solid;
	margin:0px auto;
	text-align:center;
	width:90%;
}
#footer-2{
	font-size: 0.6em;
}

#pleca_footer{
	height: 40px;
}
.linea_sup{
	background:#000;
	width: 0.1px;
}
.changelog{
	background: rgba(231,118,52,0.2);
	height: 100px;
	width: 100%;
	vertical-align: center;
	text-align: center;
	border: 1px solid #AAB0B5;
}
hr.line{
	height: 1px;
	border: 0;
	color: #cc0000;
	background-color: #666666;
}
.h2{
	font-size: 180%;
	color: #2B5893;
	text-align: center;
	vertical-align: top;
	font-weight: bold;
}
#main{
	margin: 0px auto;
	text-align: justify;
	width: 100%;
}
#maincontent{
	padding: 40px;
	min-height: 50%;
	margin: 0px auto;
	text-align: center;
}
#maincontent-tit{
	font-size: 3em;
	color: transparent;
	-webkit-text-stroke: 1px rgba(155,65,65,1);
	text-align: center;
}
#maincontent-body{
	width: 30%;
	margin: 0px auto;
	border: 0px solid;
}
#maincontent-text{
	text-align: justify;
	margin:50px auto;
}
#botones_aux{
	position:relative;
		right:-18%;
	text-align:right;
	padding-top:10px;
	width: 80%;
}
#botones_aux-int{
	width:100%;
}
#botones_aux-int0,#botones_aux-int1,#botones_aux-int2{
	display:inline-block;
	height: 40px;
	margin-left: 20px;
	vertical-align:top;
}

#btn_source{
    font-family: 'FontAwesome';
	font-size: 1.2em;
	margin-right: 1em;
    text-decoration: none;
}
#btn_source a{

}
#btn_source a:hover{

}
#listabase{
	border:5px solid;
	width: 650px;
	height: 40px;
	margin: 0px auto;
}
#lista{
	border:5px solid;
	position: relative;
	float: left;
	width: 250px;
	border-bottom:1px dotted;
}
#listaa{
	position: relative;
	float: left;
	width: 20px;
	border-bottom:1px dotted;
}
#listab{
	position: relative;
	float: left;
	width: 120px;
	border-bottom:1px dotted;
}
#mensajes-titulo{
	margin:0px auto;
	text-align:center;
}
#mensajes-titulo p{
	font-size:150%;
	font-weight:bold;
}
#mensajes-titulo span{
	font-size:150%;
}
#mensajes-contenido{
	background:#FAFAFA;
	border-radius: 10px;  
	-moz-border-radius: 10px;  
	min-height:150px;
	margin:30px auto 20px auto;
	padding-left:20px;
	padding-right:20px;
	width:80%;
}
#mensajes-contenido p{
	font-size:150%;
	font-weight:bold;
	text-align:center;
}
#mensajes-contenido span{
	text-align:left;
}
a{

	color: rgba(155,65,65,1);
/*	color: rgba(120,120,220,1);*/
	border-bottom:0px;

	text-decoration: none;
	-webkit-transition: all 500s ease-in-out;
	-moz-transition: all 500s ease-in-out;
	-o-transition: all 500s ease-in-out;
	-ms-transition: all 500s ease-in-out;
	transition: all 500ms ease-in-out;
}
:hover{
/*	color: rgba(123,123,145,1);*/
	color: rgba(120,120,220,1)


}
.rollover {
	filter: alpha(opacity=100);
	opacity: 1.0;
	border: 0px;
}
.rollover:hover {
	filter: alpha(opacity=80);
	opacity: .3;
	border: 0px;
}

h1{
	font-size: 250%;
	color:rgba(132,113,80,1);
	text-shadow: 0px 3px 2px rgba(0,0,0,0.7);
	text-align: center;
}
#form-main{
	margin: 0px auto;
	width: 90%;
	border: 0px solid;
}
form{

	width:100%;
}
/* tabla reportes */

#tab,#tabb{
	display:inline-block;
	vertical-align:top;
}

#tab{
	width:50%;
}
#tab table{
	width:90%;
}
#tabb{
	width:50%;
}
#tabb table{
	border:2px dotted;
	border-radius:15px; 
	padding:2%;
	width:100%;
}
#uno{
	width:25%;
	padding-right:1%;
}
#dos{
	width:5%;
	padding-right:1%;
}
#tres{
	width:65%;
}
#div1{
	background-color:red;
	height:20px;
}
#div2{
	background-color:blue;
	height:20px;
}
#div3{
	background-color:yellow;
	height:20px;
}
#div4{
	background-color:green;
	height:20px;
}
#div5{
	background-color:orange;
	height:20px;
}
#div6{
	background-color:pink;
	height:20px;
}
#div7{
	background-color:brown;
	height:20px;
}
#div8{
	background-color:gray;
	height:20px;
}
.shadow{
	box-shadow:0.5px 1px 3px 1px rgba(0,0,0,0.6);
}
/* termina table reportes */
.alba{
	display: inline-block;
	margin: 0px 5px 5px 5px; 
	text-align: center;
	vertical-align: top;
	width: 200px;
}
.alba a{
    background: rgba(255,255,255,0.6);
    border: 5px solid rgba(255,255,255,0.6);
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	display: block;
    height: 170px;
    margin-bottom: 4px;
    text-decoration: none;
	width: 190px;
    -webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.alba :hover{
	background: rgba(155,65,65,1);
}
.alba a img{
	text-align: center;
	width:110px;
	 -webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.alba :hover img{
	width:70px;
}
.alba a span{
	background: rgba(155,65,65,0);
	color: rgba(20,20,20,1);
	font-size: 1em;
	font-variant: small-caps;
	font-weight: bolder;
	 -webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.alba :hover span{
	background: rgba(155,65,65,0);
	color: rgba(220,220,220,1);
	font-size: 1.5em;
}
.link_s{
	margin:2% 0 auto;
}
.link_s a{
	color:rgba(174,189,72,1);
	text-decoration:none;
}
.link_s :hover{
/*	opacity:0.7;*/
}
.link_t{
	margin:2% 0 auto;
}
.link_t a{
	color:rgba(231,118,52,1);
	text-decoration:none;
}
.link_t :hover{
	opacity:0.7;
}
.link_u{
	margin:0px auto;
}
.link_u a{
	color:rgba(255,255,255,0.7);
	text-decoration:none;
}
.link_u :hover{
	opacity:0.7;
}
.rounded { 
	border-radius:15px; 
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
}
.rounded_min { 
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
}
.search { 
	color:rgba(231,118,52,1);
	font-size:1.5em;
	padding:6px 15px 6px 30px;
	margin:3px; 
	background:rgba(174,189,72,0.1);
	width:50%;
}	
.submit { 
	color:rgba(255,255,255,0.7);
	font-size:1.3em;
/*	padding:6px 15px 6px 30px;
	margin:3px; */
	background:rgba(231,118,52,0.6);
	width:20%;
}